#first-table {
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
}

th {
    background-color: navy;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    padding: 10px;
}

td {
    padding: 20px;
}


tr:nth-child(odd) {
    background-color: LightGray;
}

a {
    text-decoration: none;
    padding: none;
}

a:hover {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    background-color: yellow;
}

li {
    padding: 10px;
}

p {
    display: inline-block;
    margin-left: 30px;
    background-color: lightyellow;
}

table {
    margin: 20px;
}